@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

/* Webfont: LeikoiMayekHU */
@font-face {
  font-family: 'LeikoiMayekHU';
  src: url('./fonts/LeikoiMayekHU.eot');
  /* IE9 Compat Modes */
  src: url('./fonts/LeikoiMayekHU.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('./fonts/LeikoiMayekHU.woff') format('woff'),
    /* Modern Browsers */
    url('./fonts/LeikoiMayekHU.woff2') format('woff2'),
    /* Modern Browsers */
    url('./fonts/LeikoiMayekHU.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Oswald', sans-serif;
  background: hsla(213, 62%, 45%, 1);
  background: linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(213, 62%, 45%, 1) 0%, hsla(203, 89%, 71%, 1) 50%, hsla(0, 0%, 96%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2C6CBC", endColorstr="#71C3F7", GradientType=1 );
  min-height: 100vh;
}

*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 1.8rem;
  color: #023e8a;
  text-shadow: 5px 8px 4px rgb(0 0 0 / 30%);
  text-transform: uppercase;
}

p {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}

.eyek {
  width: calc(100% - 40px);
  margin: 3rem auto 1rem;
}

.meitei {
  font-family: 'LeikoiMayekHU';
}

#qube {
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  color: #555;
  background: #edf7f2;
  box-shadow: 0 0 4px 5px rgb(0 0 0 / 20%);
  border: none;
  border-radius: 5px;
  outline: none;
}

.tip {
  font-size: 1rem;
  margin: 3rem;
}

.keyboard {
  display: flex;
}

.new-keyboard{
  background-color: #fefefe;
  width: calc(100% - 40px);
  margin: 1rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 0.3em;
  font-size: 1.3rem;
}

.row {
  display: flex;
  gap: 0.4em;
}

.second-row {
  margin: 0 0.2rem;
}

.third-row {
  margin: 0 0.4rem;
}

.fourth-row {
  margin: 0 0.6rem;
}

.fifth-row {
  margin: 0 0.8rem;
}

.row div {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dee2e6;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.fifth-row div {
  padding: 1rem;
}

.fifth-row img {
  width: 100%;
  height: auto;
}

.row div:active {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 567px) {
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.7rem;
  }
#qube {
  font-size: 1.5rem;
}
}

/* JS Classes */
.hide {
  display: none !important;
}